In [1]:
prompt = "Hey, what's up? "

user_input = input(prompt)

print("You said: " + user_input)

Hey, what's up?  Good

You said: Good

In [2]:
num = int(input("Enter the Number to be doubled"))
doubled_Number = num*2
print(doubled_Number)

Enter the Number to be doubled 5

10

In [3]:
name = "Tesla"

In [4]:
name.upper()

'TESLA'

In [5]:
name.lower()

'tesla'

In [6]:
name.capitalize()

'Tesla'

In [7]:
name.isalpha()

True

In [8]:
starship = "Enterprise"

starship.startswith("en")

False

In [9]:
starship.endswith("rise")

True

In [10]:
txt = "I like data"

In [11]:
x = txt.replace("data", "datascience")

In [12]:
x

'I like datascience'

In [13]:
phrase = "the surprise is in here somewhere"

In [14]:
phrase.find("surprise")

4

In [15]:
phrase.index('surprise')

4

In [16]:
text = "Hello this is data mining"

# splits at space

text.split()

['Hello', 'this', 'is', 'data', 'mining']

In [17]:
text.split(":")

['Hello this is data mining']

In [18]:
tex = "Hello,World:, DataTrained"



print(tex.split(":"))

['Hello,World', ', DataTrained']

In [19]:
n = input("Input")
n = n.lower()
print(n)

Input HELLO

hello

In [20]:
user = input("Input")
user = len(user)
print(user)

Input Data

4

In [21]:
i = 0
while i <= 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for x in range(0,11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
words = ['cat', 'window', 'defenestrate']

In [24]:
for i in words:
    print(len(i),"for", i)

3 for cat
6 for window
12 for defenestrate

In [25]:

list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [27]:
x=8

y=4

if(x < y):

    st= "x is less than y"

else:

    st= "x is greater than y"

print (st)

x is greater than y

In [28]:
x = int(input("Enter a Number"))

if x<0:
    print("Negative")
elif x==0:
        print("Zero")
else:
    print("Positive")

Enter a Number 5

Positive

In [29]:
for x in range(2,11):
    if x%2==0:
        print("Even", x)
    else:
        print("Odd", x)

Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [30]:
for num in range(2, 10):

    if num % 2 == 0:

        print("Found an even number", num)

        continue

print("Found a number", num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8
Found a number 9

In [31]:
for x in range(10, 20):
    if (x == 15): 
        break
    if (x%2==0): 
        continue 
    print(x)

11
13

In [32]:
for x in range (10,20):

   #if (x == 15): break

   if (x % 5 == 0) : 
        continue
print(x)

19

In [33]:
num_list = [10, 20, 33, 46, 55]

for i in num_list:
    if i%5==0:
        print(i)

10
20
55

In [34]:
num_list = [10, 20, 33, 46, 55]

print("Given list:", num_list)

print('Divisible by 5:')

for num in num_list:

    if num % 5 == 0:

        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

### Calculate the sum of all numbers from 1 to a given number

In [35]:
# s: store sum of all numbers

s = 0

n = int(input("Enter number "))

# run loop n times

# stop: n+1 (because range never include stop number in result)

for i in range(1, n + 1, 1):

    # add current number to sum variable

    s =s+i

print("\n")

print("Sum is: ", s)

Enter number  5

Sum is:  15

### Write a program to print multiplication table of a given number

In [36]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [1]:
num = int(input("Enter a Number"))

for i in range (1,11):
    print(i*num)

Enter a Number 2

2
4
6
8
10
12
14
16
18
20

In [38]:
n = 2

# stop: 11 (because range never include stop number in result)

# run loop 10 times

for i in range(1, 11, 1):

    # 2 *i (current number)

    product = n * i

    print(product)

2
4
6
8
10
12
14
16
18
20

In [39]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']

[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [40]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [41]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):

    print(f)

apple
banana
orange
pear

In [42]:
for i in reversed(range(1, 10, 2)):

    print(i)

9
7
5
3
1

In [43]:
def sq(x):
    return x*2

In [44]:
sq(2)

4

In [45]:
def qw(x):
    if x%2==0:
        return("Even")
    else:
        return("Odd")

In [46]:
qw(3)

'Odd'

In [47]:
qw(4)

'Even'

In [48]:
def add_numbers(x,y):
    sum = x + y
    return sum

In [49]:
add_numbers(4, 12)

16

In [50]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

In [51]:
greet("Data", "There are 4 task")

Hello Data, There are 4 task

In [52]:
def wq(name, age):
    print("Hii", name, "your age is", age)

In [53]:
wq("Data", 28)

Hii Data your age is 28

In [54]:
def absolute(num):
    if num>=0:
        return num
    else:
        return -num

In [55]:
print(absolute(-4))
print(absolute(4))

4
4

In [56]:
def mul(x,y):
    return(x*y)

In [57]:
mul(4,5)

20

In [58]:
def div(x,y):
    return(x//y)

In [59]:
div(10,2)

5

In [60]:
def my_func():
    x = 10
print("Value inside function:",x)
x = 20
my_func()
print("Value outside function:",x)

Value inside function: 19
Value outside function: 20

In [61]:
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences)
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [62]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
lists = []

for x in range(10):
    lists.append(x**2)
print(lists)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
def mul_sum(num_1, num_2):
    prod = num_1*num_2
    if prod<=1000:
        print(prod)
    else:
        print(num_1+num_2)

In [65]:
mul_sum(40, 50)

90

In [66]:
mul_sum(590, 600)

1190

In [67]:
mul_sum(50, 19)

950

In [68]:
def f_l(number_list):
    first_num = [0]
    last_num = [-1]
    if first_num == last_num:
        return True
    else:
        return False

In [69]:
numbers_x = [10, 20, 30, 40, 10]
print("result is", f_l(numbers_x))
numbers_y = [75, 65, 35, 75, 75]
print("result is", f_l(numbers_y))

result is False
result is False

In [70]:
def first_last_same(numberList):
    print("Given list:", numberList)
    first_num = numberList[0]
    last_num = numberList[-1]
    if first_num == last_num:
        return True
    else:
        return False

In [71]:
numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))
numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [72]:
class Complex:

    def __init__(self, realpart, imagpart):

        self.r = realpart
        self.i = imagpart

x = Complex(3.0, -4.5)

x.r

x.i

-4.5

In [73]:
name = str(input("Your Name"))
age = int(input("Your age"))

print(2022 - age +100)

Your Name Mayank
Your age 28

2094

In [74]:
num = int(input("Enter a Number"))

if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a Number 5

Odd

##### Ask the user for two numbers: one number to check (call it num) and one number to divide by (check). If check divides evenly into num, tell that to the user. If not, print a different appropriate message

In [75]:
num = int(input("Enter a number"))
check = int(input("Entera number 2"))

if num%check ==0:
    print("Evenly Divided")
else:
    print("Not Evenly Divided")

Enter a number 5
Entera number 2 36

Not Evenly Divided

In [76]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for i in a:
    if i <=10:
        print(i, end = ' ')

1 1 2 3 5 8

In [77]:
print([x for x in a if x<=10])

[1, 1, 2, 3, 5, 8]

In [78]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
lists = []

for i in a:
    if i<10:
        lists.append(i)
        print(lists)

[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]

In [79]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
lists = []

for i in a:
    if i<10:
        lists.append(i)
        print(i, end = ' ')

1 1 2 3 5 8

In [80]:
num = int(input("Please choose a number to divide: "))

listRange = list(range(1,num+1))

divisorList = []

for number in listRange:
    if num % number == 0:
        divisorList.append(number)

print(divisorList)

Please choose a number to divide:  58

[1, 2, 29, 58]

In [81]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [82]:
[x for x in a if x not in b]

[21, 34, 55, 89]

In [83]:
[x for x in a if x not in b]

[21, 34, 55, 89]

In [84]:
list1 = [2, 5, 6, 8,10,26,23,36,57]
list2 = [2, 5, 8, 8,10,28,25,36,57,66,70]
commonlist = []
for a in list1:
    if a in list2:
        if a in commonlist:
            continue
    else:
        commonlist.append(a)

print(commonlist)

[6, 26, 23]

In [85]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c = set(a + b)

print(c)

{1, 2, 3, 34, 5, 4, 6, 8, 7, 9, 10, 11, 13, 12, 21, 55, 89}

In [86]:
a = [1, 2, 3, 3]
b = [1, 2, 3, 4, 5]

list(set(a).intersection(set(b)))

[1, 2, 3]

In [87]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c=set(a).intersection(set(b))
print(list(c))

[1, 2, 3, 5, 8, 13]

In [88]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c = set(a).intersection(set(b))
print(c)

{1, 2, 3, 5, 8, 13}

In [89]:
wrd=str(input("Please enter a word"))
rev = wrd[::-1]
print(rev)
if wrd == rev:
    print("This word is a palindrome")
else:
    print("This word is not a palindrome")

Please enter a word 4

4
This word is a palindrome

In [90]:
def reverse(word):
	x = ''
	for i in range(len(word)):
		x += word[len(word)-1-i]
	return x

In [91]:
reverse("Helo")

'oleH'

In [92]:
word = input('give me a word:\n')
x = reverse(word)
if x == word:
	print('This is a Palindrome')
else:
	print('This is NOT a Palindrome')

give me a word:
 hello

This is NOT a Palindrome

In [93]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[x for x in a if x%2==0]

[4, 16, 36, 64, 100]

In [94]:
inp1 = str(input("Option1"))
inp2 = str(input("option2"))

def comp(u1, u2):
    if u1 == u2:
        return("Tie")
    elif u1 == 'rock':
        if u2 == 'scissors':
            return ('rock won')
        else:
            return ('Paper Won')
    elif u1 == 'scissors':
        if u2 == 'paper':
            return("scissors won")
        else:
            return("Paper won")

Option1 Paper
option2 rock

In [95]:
import sys

user1 = input("What's your name?")
user2 = input("And your name?")
user1_answer = input("%s, do yo want to choose rock, paper or scissors?" % user1)
user2_answer = input("%s, do you want to choose rock, paper or scissors?" % user2)
def compare(u1, u2):
    if u1 == u2:
        return("It's a tie!")
    elif u1 == 'rock':
        if u2 == 'scissors':
            return("Rock wins!")
        else:
            return("Paper wins!")
    elif u1 == 'scissors':
        if u2 == 'paper':
            return("Scissors win!")
        else:
            return("Rock wins!")
    elif u1 == 'paper':
        if u2 == 'rock':
            return("Paper wins!")
        else:
            return("Scissors win!")
    else:
        return("Invalid input! You have not entered rock, paper or scissors, try again.")
        sys.exit()

print(compare(user1_answer, user2_answer))


print('''Please pick one:
            rock
            scissors
            paper''')

while True:
    game_dict = {'rock': 1, 'scissors': 2, 'paper': 3}
    player_a = str(input("Player a: "))
    player_b = str(input("Player b: "))
    a = game_dict.get(player_a)
    b = game_dict.get(player_b)
    dif = a - b

    if dif in [-1, 2]:
        print('player a wins.')
        if str(input('Do you want to play another game, yes or no?\n')) == 'yes':
            continue
        else:
            print('game over.')
            break
    elif dif in [-2, 1]:
        print('player b wins.')
        if str(input('Do you want to play another game, yes or no?\n')) == 'yes':
            continue
        else:
            print('game over.')
            break
    else:
        print('Draw.Please continue.')
        print('')

What's your name? data
And your name? mayank
data, do yo want to choose rock, paper or scissors? paper
mayank, do you want to choose rock, paper or scissors? rock

Paper wins!
Please pick one:
            rock
            scissors
            paper

Player a:  no
Player b:  no

TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'

In [96]:
data = ['data', 'management', 'AWS', 'server', 'machine learning']
for i in data:
    if i == 'server':
        break;
    print(i)

data
management
AWS

In [ ]:
for i in data:
    if i == 'server':
        continue;
    print(i)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("hardware.csv")

In [ ]:
for i in data['2']:
    if i == 3:
        continue;
    print(i, end = ' ')

In [ ]:
data[data["2"]==3][['Ferguson Engineering', '2']]

In [ ]:
d = [100, 200, 300, 400, 500]
for i in d:
    if i == 400:
        break;
    print(i)   
print("End of Loop")

In [ ]:
q = [x for x in data["Ferguson Engineering"]]
print(q, end = ' ' )

In [ ]:
data.columns

In [ ]:
data["Ferguson Engineering"]

In [ ]:
[x for x in range(1,20) if x%2!=0]

In [ ]:
p = [x for x in data['2'] if x!=3]
print(p, end = ' ')

In [ ]:
[i**2 for i in range(1,20) if i%2==0]

#### Program to Swap the list

In [ ]:
def swaplist(newlist):
    newlist[0], newlist[-1] = newlist[-1], newlist[0]
    
    return newlist

In [ ]:
newlist = [1,2,3,444,555,12,3,7]

In [ ]:
print(swaplist(newlist))

In [ ]:
def swappos(list, pos1, pos2):
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

In [ ]:
list = [1,44,55,45,66]
pos1, pos2 = 1, 3

In [ ]:
print(swappos(list, pos1-1, pos2-2))

In [ ]:

# Python3 program to swap elements
# at given positions
 
# Swap function
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 
# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

In [ ]:
print(swapPositions(List, pos1, pos2))

In [ ]:
test_list = [ 1, 4, 5, 7, 8 ]
print(len(test_list))

In [ ]:
test_list = [ 1, 4, 5, 7, 8 ]
 
# Printing test_list
print ("The list is : " + str(test_list))
 
# Finding length of list
# using loop
# Initializing counter
counter = 0
for i in test_list:
     
    # incrementing counter
    counter = counter + 1
 
# Printing length of list
print ("Length of list using naive method is : " + str(counter))

In [ ]:
def max(a,b):
    if a>b:
        print ("a is max")
    else:
        print("b is max")

a = 4
b = 5

In [ ]:
max(a, b)

In [ ]:
a = 10
b = 11

print(max(a,b))

In [ ]:
print(min(a, b))

In [ ]:
a = [5,6,55,4,12,55,4,10,11,55,44,10,44,50]
(len(a)-1)//2

In [ ]:
import pandas

In [ ]:
print(dir(pandas))

In [ ]:
mul(40,44)

In [ ]:
def sub(a,b):
    result= a-b
    print(result)

In [ ]:
a = int(input("enter the value"))
b = int(input("enter the value")) 
sub(a,b)

In [ ]:
sub(55,77)

In [ ]:
def table(x):
    for i in range(1,11):
        print(x, "*", i, "=", i*x)

In [ ]:
x = int(input("Enter the Number"))
table(3)

In [ ]:
print(list(range(1,11)))

In [ ]:
def test():
    lists = []
    for i in range(1,11):
        lists.append(i)
        print(i, end = ' ')

In [ ]:
test()

In [ ]:
s1 = {1,4,5}
s2 = {5,6}

print(s1&s2)

In [ ]:
print('My', 'Name', 'Is', 'James', sep=' ....')

In [ ]:
a = int(input("Enter 1st"))
b = int(input("Enter 2nd"))

x = a*b

print(x)

In [ ]:
num = 8
print('%o' % num)

In [ ]:
num = 458.541315
print('%.2f' % num)

In [ ]:
lists = []
for i in range(1,5):
    print("Enter number at location", i, ":")
    item = float(input("Enter a Number"))
    lists.append(item)
    print(lists)

In [ ]:
lists = [1,2,3,4,5,6,7,8,9]

for i in lists:
    if i==4:
        continue;
    print(i, end = ' ')

In [ ]:
str1, str2, str3 = str(input("Enter three string")).split()

print("Name1", str1)
print("Name2", str2)
print("Name3", str3)

In [ ]:
# read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

In [ ]:
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

In [ ]:
# read file
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 3
    print(lines[2])

In [ ]:
i = 1
while i <=10:
    print(i)
    i = i+1

In [ ]:
lists = []
for i in range(1,6):
    lists.append(i)
    print(lists)

In [ ]:
print("Number Pattern")

row = 5

for i in range (1, row + 1, 1):
    
    for j in range(1, i+1):
        print(j, end=' ')
        
        print("")

In [ ]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
n = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, n + 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

In [ ]:
s = 0
n = int(input("Enter a number"))

for i in range(1, n+1):
    s+=i
    
    print("\n")
    print("Sum is" ,s, end = " ")

In [ ]:
n = int(input("Enter a number"))

x = sum(range(1, n+1))
print(x)

In [ ]:
for i in range(1,11):
    i=i*2
    print(i, end=(' '))

In [ ]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product, end = " ")

In [ ]:
num = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
for i in num:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0, -1):
        print(j,end=' ')
    print()

In [ ]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item, end = ' ')

In [ ]:
list1 = [10, 20, 30, 40, 50]

size = len(list1) - 1
for i in range(size, -1, -1):
    print(list1[i])

In [ ]:
for i in range(-10, 0):
    print(i, end = ' ')

In [ ]:
for i in range(25, 50):
    if i>1:
        for j in range (2, i):
            if (i%j) == 0:
                
                break
        else:
            print(i, end = ' ')

In [ ]:
max([x**2 for x in range(10)])

In [ ]:
pt = ''
for i in range(10):
    with open('test.txt', 'w') as pt:
        if i > 2:
            break
print(pt.closed)

In [ ]:
M = [[-2,-1,0], [1,2,3],[4,5,6]]

print([M[i][i] for i in range(len(M))])

In [ ]:
D = [2, {3,4}, 5, 7]

In [ ]:
D

In [ ]:
def test(data):
    if len(data) == len(set(data)):
        return True
    else:
        return False;

In [ ]:
print(test([1,2,5,88]))
print(test([55,44,55,2,6]))

In [ ]:
import random

char = ['a', 'e', 'i', 'o', 'u']
random.shuffle(char)
print(''.join(char))

In [ ]:
def rem_no(lists):
    position = 3-1
    idx = 0
    len_lists = (len(lists))
    while len_lists>0:
        idx = (position+idx)%len_lists
        print(lists.pop(idx))
        len_lists -= 1
num = [10,20,30,40,50,60,70,80,90]

rem_no(num)

In [ ]:
import sys
print("python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

In [ ]:
import platform
print(platform.python_version_tuple())
print(type(platform.python_version_tuple()))

In [ ]:
import datetime
now = datetime.datetime.now()
print('currennt date and time')
print(now.strftime("%Y-%m-%d %H: %M: %S"))

In [ ]:
now.strftime("%Y-%m-%d %H: %M: %S")

In [ ]:
def fun1():
    a = 40
    b = 30
    c = a + b
    return c

In [ ]:
h = fun1()

In [ ]:
h

In [ ]:
def f(h):
    print(h - 40)

In [ ]:
f(h)

### Use print or return?
**Use print when you want to show a value to a human.** return is a keyword. When a return statement is reached, Python will stop the execution of the current function, sending a value out to where the function was called. **Use return when you want to send a value from one point in your code to another.**

#### In case you don't know how many argument have to pass the we can use *args.

In [ ]:
def pls(*args):
    return sum(args)

In [ ]:
pls(4,5,55)

In [ ]:
pls(4,5,10,5,6,10,20,3)

In [ ]:
def sumf(*num):
    s = 0
    for i in num:
        s+=i
    return s

In [ ]:
sumf(4,5,2,3)

##### here s+=i is same as s = s+i

In [ ]:
def area():
    a=3.14
    b=r**2
    c = a*b
    return c

In [ ]:
r=int(input("Enter the radius"))
print(area())

In [ ]:
def findArea(r):
    PI = 3.14
    return PI * (r*r);

In [ ]:
r = int(input("Radius"))
print(findArea(r))

### OOPs (Class)

In [ ]:
class student:
    #initialization/constructor                           #self ----> instance/object name
    def __init__(self, rollno,name):
        self.rollno=rollno
        self.name= name
        
    def display(self):
        print("Student rollno=", self.rollno," and Name =", self.name)

In [ ]:
# Creating instance/object

obj1 = student(201, "John")
obj1.display()

In [ ]:
stud1 = student(202, "Andrew")
stud1.display()

In [ ]:
obj1.display()
stud1.display()

In [ ]:
values = [5, 4, 7, 8, 9, 3]

values_copy = []
for v in values:
    values_copy = v

In [ ]:
values = [3, 5, 2, 1]

total = 0
for x in values:
    total += x

In [ ]:
print(total)

In [ ]:
print(x)

In [ ]:
for i in range(10):
    print(i)
    i = 11

In [ ]:
values = [5, 4, 7, 8, 9, 3]

values_copy = []
for v in values:
    values_copy.append(v)

In [ ]:
print(values_copy)

In [ ]:
number = [1,1,1]
List = []
for i in number:
    [i]*7
    print(i)

In [ ]:
matrix_of_ones = []
for _ in range(7):
    matrix_of_ones.append([1, 1, 1])

In [97]:
matrix = [
    [0, 9, 5, 4, 5, 3, 1, 5, 7],
    [8, 2, 1, 7, 3, 1, 5, 7, 0],
    [1, 5, 3, 2, 7, 1, 4, 4, 8],
    [2, 5, 6, 2, 0, 4, 1, 9, 3],
    [7, 4, 2, 9, 7, 0, 7, 4, 4],
]
print(len(matrix))
print(len(matrix[0]))

5
9

In [7]:
def lenth(x):
    return len(x)

In [11]:
lenth("Data")

4

In [12]:
def str_len(x):
    count = 0
    for char in x:
        count+=1
    return count

In [14]:
str_len("Data")

4

In [18]:
def char_freq(x):
    dict = {}
    for i in x:
        keys = dict.keys()
        if i in keys:
            dict[i] +=1
        else:
            dict[i] = 1
            
    return dict

In [19]:
char_freq("google.com")

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [30]:
num = int(input("Enter any number"))

if num%2==0:
        print("Even")
elif num <1:
        print ("Negative")

elif num%2!=0 or num>0:
       print("Odd and positive")

Enter any number 3

Odd and positive